# This is an example of a configuration file for use in Docker.
# You can use this file in the docker run command by adding this argument:
# --env-file sample.env.config

# Plex Variables
PLEX_LOCAL_IP=host.docker.internal  # This resolves to the computer hosting the docker container.
PLEX_LOCAL_PORT=32400               # This is the default port.
PLEX_USERNAME=username              # Plex Username   
PLEX_PASSWORD=password              # Plex Password 

# Discord Variables
DISCORD_CLIENT_ID=000000000         # Client ID for your Discord App (From https://discordapp.com/developers/applications/)
DISCORD_CLIENT_SECRET=aaaaaaaaaaa   # Client Secret for your Discord App (From https://discordapp.com/developers/applications/)
DISCORD_BOT_USERNAME=botUsername    # Username for your Discord Bot (From https://discordapp.com/developers/applications/)
DISCORD_BOT_TOKEN=aaaaaaaaaaaaa     # Bot token for your Discord Bot (From https://discordapp.com/developers/applications/)

# Other configuration options
# The prefix before commands. (Can be multicharacter)
# NOTE: Avoid characters that Discord uses to markup text, it will mess up how help commands are displayed in chat.
COMMAND_MESSAGE_PREFIX=!