# This is an example of a configuration file for use in Docker.
# You can use this file in the docker run command by adding this argument:
# --env-file sample.env.config

# Plex Variables
PLEX_LOCAL_IP=
PLEX_LOCAL_PORT=
PLEX_USERNAME=
PLEX_PASSWORD=

# Discord Variables
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_BOT_USERNAME=
DISCORD_BOT_TOKEN=

# Other configuration options
# Change the prefix before commands. (Can be multicharacter)
COMMAND_MESSAGE_PREFIX=!